<manifest xmlns:android="http://schemas.android.com/apk/res/android"

    package="com.etf.ac.bg.rs.sd120456.v3.authtestv3">

    <uses-feature android:name="android.hardware.fingerprint"
        android:required="false"/>

    <uses-permission android:name="android.permission.USE_FINGERPRINT" />
    <uses-permission android:name="android.permission.INTERNET"/>

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_logo"
        android:label="AuthTest.v3"
        android:name=".AuthTestApplicationV3"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <activity
            android:name=".StartFullscreenActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:theme="@style/FullscreenTheme"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".MainActivity"
            android:label="AuthTest"
            android:theme="@style/AppTheme.NoActionBar"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".TestActivity"
            android:label="@string/Test"
            android:theme="@style/AppTheme.NoActionBar"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".AnketaActivity"
            android:label="@string/Anketa"
            android:theme="@style/AppTheme.NoActionBar"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".RezultatiActivity"
            android:label="@string/RezultatiAnkete"
            android:theme="@style/AppTheme.NoActionBar"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".RegisterActivity"
            android:label="@string/Registracija"
            android:theme="@style/AppTheme.NoActionBar"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".LoginActivity"
            android:label="@string/Login"
            android:theme="@style/AppTheme.NoActionBar"
            android:screenOrientation="portrait"/>
    </application>

</manifest>
